---
layout: archive
title: "Ballroom Dance"
permalink: /ballroomdance/
author_profile: true
---

{% include base_path %}
<img align="left" width="300" src="https://github.com/ruf10/ruf10.github.io/blob/67e6e3209beff516119f559e751ab2836d6c6f1d/images/chicago-oct23.png"/>  I love traveling with ballroom friends. We cheer for each other and support each other, and try our best to bring honor to our team! 
{% for post in site.ballroomdance reversed %}
  {% include archive-single.html %}
{% endfor %}
