---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---
{% include base_path %}
I work on the **Navier Stokes Equations**, One of Seven Millennium Prize Problems by Clay Institute.

I conduct research in numerical analysis of the Navier-Stokes equations to enhance the accuracy and efficiency of fluid flow simulation. 

Fluids in motion impact our daily lives and show intricate phenomena that are challenging to predict. The common characteristics observed in flows underscore the utility of numerical simulations. For example, the Von Karman vortices appeared in the flow over Rishiri Island and a numerical simulation on a 2D cylinder. Accurate simulation of fluids at high Reynolds numbers and for longer times is essential in engineering and science. For example, progress in renewable energy, weather prediction, and air pollution require it. My research builds accurate, cheap, and efficient numerical algorithms to address this problem. 


Charles L. Fefferman wrote in the official problem description: **"Fluids are important and hard to understand**. There are many fascinating problems and conjectures about the behavior of solutions of the Euler and **Navier–Stokes equations**. **Since we don’t even know whether these solutions exist, our understanding is at a very primitive level... Instead, we probably need some deep, new ideas."**

The history of human study fluids can date back to pre-history when the earliest human civilizations began near the shores of rivers. Important Mathematicians throughout history have devoted their life to the study of fuilds, from Archimedes(c.287 – c.212 BC) "Hydrostatics", "on floating Bodies", Newton(1642-1727) "Conservation of Linear Monentum", Daniel Bernoulli (1700- 1782) "Hydrodynamics", Euler(1707-1785), Cauchy(1789–1857). **In the early 19th century, Navier and Stokes gave the mathematical expression, conservation of momentum and conservation of mass for Newtonian fluids** Since then, Maxwell, Reynolds, Poincare...Richardson, and mathematitions today.

{% for post in site.research reversed %}
  {% include archive-single.html %}
{% endfor %}
